<div class="home">
    <div class="home-info">
        <h2>Welcome to my website</h2>
        <p>"Welcome to YSU Insurance! We are dedicated to providing you with the best insurance coverage and protection
            for your needs. Our team of experienced professionals is committed to understanding your unique situation
            and finding the right insurance solutions to meet your specific requirements. We offer a range of insurance
            products, including auto, home, life, health, and business insurance, to help you protect what matters most.
            Our goal is to provide you with excellent service and support, so you can have peace of mind knowing you are
            in good hands. Thank you for choosing YSU Insurance Agency, and we look forward to serving you!"</p>
        <p>we provide insurance policies and services to individuals and organizations. Insurance agencies act as
            intermediaries between insurance companies and clients, helping clients to assess their insurance needs and
            find suitable insurance policies that match their requirements.</p>
        <p>We can offer a wide range of insurance types, such as auto, home, health, life, and business insurance. They
            typically work with multiple insurance companies to offer clients a choice of policies and coverage options.
        </p>
        <p>Our agents in an agency work as representatives of the agency and help clients navigate through the insurance
            process. They assess clients' insurance needs, explain policy terms, and help clients choose the best policy
            for their specific needs. In return, agents receive a commission from the insurance company for each policy
            they sell.</p>
        <a href="#" class="cta">Learn More</a>
    </div>
</div>