<div class="wrapper">
    <div class="left">
        <div class="initial-avatar">{{displayLetter}}</div>
        <h4>{{firstName}} {{lastName}}</h4>
    </div>
    <div class="right">
        <div class="info">
            <h3>Information</h3>
            <div class="info_data">
                <div class="data">
                    <h4>Email</h4>
                    <p>{{email}}</p>
                </div>
            </div>
            <div class="info_data">
                <div class="data">
                    <h4>Phone</h4>
                    <p>{{phone}}</p>
                </div>
                <div class="data">
                    <h4>Age</h4>
                    <p>{{age}}</p>
                </div>
            </div>
            <div class="info_data">
                <div class="data">
                    <h4>Insurance Type</h4>
                    <p>{{insuranceType}}</p>
                </div>
                <div class="data">
                    <h4>Address</h4>
                    <p>{{address}}</p>
                </div>
            </div>
        </div>

        <div class="social_media">
            <ul style="list-style: none;">
                <li><a><i class="fa fa-facebook-f"></i></a></li>
                <li><a><i class="fa fa-twitter"></i></a></li>
                <li><a><i class="fa fa-instagram"></i></a></li>
            </ul>
        </div>
    </div>
</div>